<!-- NAV -->
<div class="navbar bg-base-100">
  <div class="flex-1">
    <a routerLink="" class="btn btn-ghost normal-case text-xl">❕</a>
    <a
      routerLink="quests"
      class="btn btn-ghost normal-case text-xl text-amber-400"
      >quests</a
    >
    <a routerLink="rewards" class="btn btn-ghost normal-case text-xl"
      >rewards</a
    >
  </div>
  <div class="flex-none">
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img src="/images/stock/photo-1534528741775-53994a69daeb.jpg" />
        </div>
      </label>
      <ul
        tabindex="0"
        class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
      >
        <li>
          <a class="justify-between">
            Profile
            <span class="badge">New</span>
          </a>
        </li>
        <li><a>Settings</a></li>
        <li><a>Logout</a></li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<!-- FOOTER -->
<footer class="footer p-10 bg-neutral text-neutral-content">
  <div>
    <span class="footer-title">Company</span>
    <a class="link link-hover">About us</a>
    <a class="link link-hover">Contact</a>
    <a class="link link-hover">Jobs</a>
    <a class="link link-hover">Press kit</a>
  </div>
  <div>
    <span class="footer-title">Legal</span>
    <a class="link link-hover">Terms of use</a>
    <a class="link link-hover">Privacy policy</a>
    <a class="link link-hover">Cookie policy</a>
  </div>
</footer>
