{{ quest === undefined ? "quest empty" : null }}
<h1 class="text-5xl font-bold text-amber-400">{{ quest.title }}</h1>
<p class="text-sm text-gray-400 mb-4">{{ quest.goal }}</p>
<div class="text-lg text-white mb-6" [innerHTML]="quest.description"></div>
<div class="steps">
  <div class="ml-8">
    <ng-container *ngFor="let step of quest.steps; let i = index">
      <div class="flex mb-2">
        <div
          class="w-6 h-6 rounded-full mr-2 flex items-center justify-center text-white bg-gold"
        >
          {{ i + 1 + "." }}
        </div>
        <div class="text-lg text-gray-300">{{ step }}</div>
      </div>
    </ng-container>
  </div>
</div>
<div class="rewards mt-8" *ngIf="quest.rewards">
  <h2 class="text-xl text-gold font-bold mb-2">Rewards:</h2>
  <div class="ml-8">
    <ng-container *ngFor="let reward of quest.rewards">
      <div class="text-lg text-gray-300">- {{ reward }}</div>
    </ng-container>
  </div>
</div>
