#masthead{
 background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 243 84.24" width="243" height="84.24" style="opacity: 0.5; filter: grayscale(0.5);"><text x="0em" y="1em" font-size="27" transform="rotate(21 16.875 16.2)">💲</text><text x="1.5em" y="2.3em" font-size="27" transform="rotate(21 57.375 51.3)">🥇</text><text x="3em" y="1em" font-size="27" transform="rotate(21 97.875 16.2)">🚴</text><text x="4.5em" y="2.3em" font-size="27" transform="rotate(21 138.375 51.3)">📈</text><text x="6em" y="1em" font-size="27" transform="rotate(21 178.875 16.2)">💼</text><text x="7.5em" y="2.3em" font-size="27" transform="rotate(21 219.375 51.3)">🍾</text></svg>');
 animation: background-image-scroll infinite linear 25s;
}

@keyframes background-image-scroll {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: -1400px 0;
  }
  100% {
    background-position: 0 0;
  }
}