<div class="hero min-h-screen bg-base-200" id="masthead">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-6xl font-bold">Set Goals. Get Results.</h1>
      <p class="py-6">
        With our Accountability App, you can achieve your goals and reach your
        full potential.
      </p>
      <button class="btn btn-primary">Sign up</button>
    </div>
  </div>
</div>
<section class="p-10">
  <h2 class="text-5xl">Features</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <div class="card w-96 bg-base-100 shadow-xl">
      <div class="card-body">
        <h3 class="card-title">Goal Setting</h3>
        <p>
          Set specific goals, such as completing a certain number of workouts
          per week or avoiding smoking for a set period of time.
        </p>
      </div>
    </div>

    <div class="card w-96 bg-base-100 shadow-xl">
      <div class="card-body">
        <h3 class="card-title">Rewards System</h3>
        <p>
          Earn rewards by providing proof that you have completed the required
          work, such as time-stamped photos or GPS data.
        </p>
      </div>
    </div>

    <div class="card w-96 bg-base-100 shadow-xl">
      <div class="card-body">
        <h3 class="card-title">Progress Tracking</h3>
        <p>
          Use our goal-tracking dashboard to track your progress and stay
          motivated.
        </p>
      </div>
    </div>

    <div class="card w-96 bg-base-100 shadow-xl">
      <div class="card-body">
        <h3 class="card-title">Pomodoro Timer</h3>
        <p>Stay focused and productive with our built-in Pomodoro timer.</p>
      </div>
    </div>

    <div class="card w-96 bg-base-100 shadow-xl">
      <div class="card-body">
        <h3 class="card-title">Accountability Partner</h3>
        <p>
          Connect with a friend or family member to help keep each other
          accountable.
        </p>
      </div>
    </div>
  </div>
</section>
